@model Session

<form class="form-horizontal" asp-action='@(Model != null ? "Edit" : "Create")'>
    <div asp-validation-summary="All"></div>
    @if (Model != null)
    { // Si esto ocurre, estamos en edición
    <input type="hidden" asp-for="Id" />
    }
    <div class="form-group">
        <label asp-for="TimeAndDate" class="control-label col-md-2"></label>
        <div class="col-md-3">
            <div class="input-group date" id="timeAndDate">
                <input asp-for="TimeAndDate" type="text" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
            <span asp-validation-for="TimeAndDate" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Status" class="control-label col-md-2"></label>
        <div class="col-md-3">
            <select asp-for="Status" class="form-control" asp-items="@Html.GetEnumSelectList<SessionStatus>()"></select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
    </div>

    <hr />
    <div>
        <input type="submit" value="@Literals.Save" class="btn btn-sm btn-primary" />
        <a asp-action="Index" class="btn btn-sm btn-default">@Literals.Back</a>
    </div>
</form>