@model Session

@{
    ViewBag.Title = Literals.SessionEdit;
}

<h2>@Literals.SessionEdit</h2>
<hr />

@Html.Partial("_EditForm")

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">
        $(function () {
            setActiveMenuItem("SessionsMenuItem");
            $('#timeAndDate').datetimepicker({
                locale: 'es'
            });
        });
    </script>
}