@{
    ViewData["Title"] = Literals.About;
}
<h2>@ViewData["Title"].</h2>
<h3>@Literals.AppTitle</h3>

<p>@Literals.AppSummary</p>

@section Scripts {
    <script type="text/javascript">
        $(function () { setActiveMenuItem("AboutMenuItem"); });
    </script>
}
