@{
    ViewData["Title"] = Literals.Home;
}

<div class="jumbotron" style="background-image: url(~/images/tickets256_BG.png); background-repeat: no-repeat; background-position: left;">
    <h1>@Literals.AppTitle</h1>
    <p class="lead">@Literals.AppSummary</p>
    <p>
        <a asp-area="" asp-controller="TicketSelling" asp-action="Index" class = "btn btn-primary btn-large">@Literals.Sell</a>
    </p>
</div>

@section Scripts {
    <script type="text/javascript">
            $(function () { setActiveMenuItem("HomeMenuItem"); });
    </script>
}
