@model Session

<hr />
<form asp-action="TicketsSold" asp-controller="TicketSelling" asp-route-id="@Model.Id">
    <br />
    <br />
    <br />
    <input type="hidden" id="selectedSeats" name="selectedSeats" value="" />
    <div class="pull-left">
        <h3><span id="seatCount">0</span>&nbsp;<span>@Literals.SelectedSeats</span></h3>
    </div>
    <div class="pull-right">
        <input type="submit" class="btn btn-primary btn-lg" value="@Literals.Sell" />
    </div>
</form>
<hr style="clear: both;" />